.contact-style-one-info {
    text-align: center;
    padding: 1rem;
}

#contact-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    justify-items: center;
    padding-bottom: 3rem;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.contact-item {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.contact-item:hover {
    transform: scale(1.05);
}

.icon {
    font-size: 2rem;
    color: #ff6f61;
    margin-bottom: 1rem;
}

.title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.content {
    font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    #contact-info {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 2rem;
       
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #contact-info {
        grid-template-columns: repeat(2, 1fr);
        
    }
}
